
.com-mc-dates__label {
	margin-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	display: block;
}
.com-mc-dates__ranges {
	display: flex;
	padding-left: 25px;
	padding-top: 0;
}
.com-mc-dates__range {
	margin-right: 40px;
	font-size: 12px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
}